<mat-form-field class="chip-list" appearance="fill">
    <mat-label>Search bar</mat-label>
    <mat-chip-list #chipList aria-label="Term selection">
        <mat-chip *ngFor="let concept of concepts" (removed)="remove(concept)" #tooltip="matTooltip"
            [matTooltip]="concept.rdfAbout" (click)="tooltip.toggle()">
            {{concept.label}}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input placeholder="Select new term..." #conceptInput [formControl]="conceptCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let concept of filteredConcepts | async" [value]="concept">
            <span #tooltip="matTooltip" [matTooltip]="concept.rdfAbout"
                matTooltipPosition="right">{{concept.label}}</span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>