<mat-toolbar color="primary">
    <img id="logo" src="../assets/logo.png">
    <span>Materials browser</span>
    <span class="spacer"></span>
    <a mat-button [href]="apiUrl" target="_blank">API documentation</a>
</mat-toolbar>

<section id="content">
    <app-loader></app-loader>

    <app-search-bar #searchBar></app-search-bar>
    <app-result-list [searchBar]="searchBar"></app-result-list>
</section>

<footer id="footer">
    <p><a mat-button href="https://terms4fairskills.github.io/" target="_blank" rel="noreferrer noopener">The terms
        originate from <strong>terms4FAIRskills</strong></a></p>
</footer>