table {
  width: 100%;
}

tr.material-detail-row {
  height: 0;
}

th {
  font-size: 16px;
}

tr.material-row:not(.material-expanded-row):hover {
  background: whitesmoke;
}

tr.material-row:not(.material-expanded-row):active {
  background: #efefef;
}

.material-row td {
  border-bottom-width: 0;
}

.material-detail {
  overflow: hidden;
  display: flex;
}

.material-description {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.doi-link {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}
