/* You can add global styles to this file, and also import other style files */
$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

@font-face {
  font-family: "Poppins";
  src: url("assets/poppins.woff2") format("woff2");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tooltip {
  font-size: 14px;
  word-break: break-all;
}

.mat-cell.mat-column-name {
  font-weight: bold;
}
