/* You can add global styles to this file, and also import other style files */
$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tooltip {
  font-size: 14px;
}

.mat-cell.mat-column-name {
  font-weight: bold;
}